/* Background Image */
body{
    position: relative;
    height: 100vh;
    
    background:
    linear-gradient(
     rgba(40, 194, 61, 0.5),
    rgba(40, 194,61, 0.5)
    );
    
    height: 100vh;
}

header{
    font-size:50px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}
/* Buttons */
ul{
    background-color: rgb(129, 233, 207);
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    display: flex;
    justify-content: space-between;

}

#Question{
    padding-top: 40px;
    text-align: center;
    font-size: 60px;
    font-family: 'Lusitana', serif;
}
.Text{
    font-size: 30px;
    margin-left: 50px;
    margin-right: 50px;
}


#Copyright{
    background:rgb(67, 67, 247);
    width: 100%;
    position:absolute;
    bottom: 0;
    text-align: center;
    font-size: 25px;
    font-family: 'Damion', cursive;
}

